In [7]:
import pandas as pd
import numpy as np

# data frame

In [2]:
mydataset ={'cars':['BMW','AMG','VOLVO'],'passings':[3,7,2]}

In [3]:
myvar =pd.DataFrame(mydataset)
myvar

    cars  passings
0    BMW         3
1    AMG         7
2  VOLVO         2

# what is series 
### is like a cloumn in a table.
#### it's a 1-d array holding data of any type

In [4]:
a=np.arange(1,10)
myseries=pd.Series(a)
print(myseries)

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int32

# labels in series 
## above has my default form 0 to n

In [5]:
bs=[2,8,9]
b=pd.Series(bs,index=['x','y','z'])
print(b)

x    2
y    8
z    9
dtype: int64

In [6]:
print(b['y'])

8

# series from dictionary

In [7]:
calories ={'day1':333,'day2':444,'day3':555}
c=pd.Series(calories)
print(c)

day1    333
day2    444
day3    555
dtype: int64

# df from two series

In [8]:
data ={'calories':[420,300,500],
'duration':[50,45,60]}
d=pd.DataFrame(data)
print(d)

   calories  duration
0       420        50
1       300        45
2       500        60

# what is Data Frame ? 
## A pandas df is a 2-d data Sturucture , like a 2-d array or a tabel with row and col 

# loc Row

In [9]:
print(d.loc[0])

calories    420
duration     50
Name: 0, dtype: int64

In [10]:
print(d.loc[[0,1]])

   calories  duration
0       420        50
1       300        45

# read a csv file 
### by pass the to_string a all df can be print

In [11]:
df= pd.read_csv('data.csv')
print(df.to_string())

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
5          60    102       127     300.0
6          60    110       136     374.0
7          45    104       134     253.3
8          30    109       133     195.1
9          60     98       124     269.0
10         60    103       147     329.3
11         60    100       120     250.7
12         60    106       128     345.3
13         60    104       132     379.3
14         60     98       123     275.0
15         60     98       120     215.2
16         60    100       120     300.0
17         45     90       112       NaN
18         60    103       123     323.0
19         45     97       125     243.0
20         60    108       131     364.2
21         45    100       119     282.0
22         60    130       101     300.0
23         45    105       132     246.0
24         60    102       126     334.5
25         60    100       120     250.0
26         60     92       118     241.0
27         60    103       132       NaN
28         60    100       132     280.0
29         60    102       129     380.3
30         60     92       115     243.0
31         45     90       112     180.1
32         60    101       124     299.0
33         60     93       113     223.0
34         60    107       136     361.0
35         60    114       140     415.0
36         60    102       127     300.0
37         60    100       120     300.0
38         60    100       120     300.0
39         45    104       129     266.0
40         45     90       112     180.1
41         60     98       126     286.0
42         60    100       122     329.4
43         60    111       138     400.0
44         60    111       131     397.0
45         60     99       119     273.0
46         60    109       153     387.6
47         45    111       136     300.0
48         45    108       129     298.0
49         60    111       139     397.6
50         60    107       136     380.2
51         80    123       146     643.1
52         60    106       130     263.0
53         60    118       151     486.0
54         30    136       175     238.0
55         60    121       146     450.7
56         60    118       121     413.0
57         45    115       144     305.0
58         20    153       172     226.4
59         45    123       152     321.0
60        210    108       160    1376.0
61        160    110       137    1034.4
62        160    109       135     853.0
63         45    118       141     341.0
64         20    110       130     131.4
65        180     90       130     800.4
66        150    105       135     873.4
67        150    107       130     816.0
68         20    106       136     110.4
69        300    108       143    1500.2
70        150     97       129    1115.0
71         60    109       153     387.6
72         90    100       127     700.0
73        150     97       127     953.2
74         45    114       146     304.0
75         90     98       125     563.2
76         45    105       134     251.0
77         45    110       141     300.0
78        120    100       130     500.4
79        270    100       131    1729.0
80         30    159       182     319.2
81         45    149       169     344.0
82         30    103       139     151.1
83        120    100       130     500.0
84         45    100       120     225.3
85         30    151       170     300.0
86         45    102       136     234.0
87        120    100       157    1000.1
88         45    129       103     242.0
89         20     83       107      50.3
90        180    101       127     600.1
91         45    107       137       NaN
92         30     90       107     105.3
93         15     80       100      50.5
94         20    150       171     127.4
95         20    151       168     229.4
96         30     95       128     128.2
97         25    152       168     244.2
98         30    109       131     188.2
99         90     93       124     604.1
100        20     95       112      77.7
101        90     90       110     500.0
102        90     90       100     500.0
103        90     90       100     500.4
104        30     92       108      92.7
105        30     93       128     124.0
106       180     90       120     800.3
107        30     90       120      86.2
108        90     90       120     500.3
109       210    137       184    1860.4
110        60    102       124     325.2
111        45    107       124     275.0
112        15    124       139     124.2
113        45    100       120     225.3
114        60    108       131     367.6
115        60    108       151     351.7
116        60    116       141     443.0
117        60     97       122     277.4
118        60    105       125       NaN
119        60    103       124     332.7
120        30    112       137     193.9
121        45    100       120     100.7
122        60    119       169     336.7
123        60    107       127     344.9
124        60    111       151     368.5
125        60     98       122     271.0
126        60     97       124     275.3
127        60    109       127     382.0
128        90     99       125     466.4
129        60    114       151     384.0
130        60    104       134     342.5
131        60    107       138     357.5
132        60    103       133     335.0
133        60    106       132     327.5
134        60    103       136     339.0
135        20    136       156     189.0
136        45    117       143     317.7
137        45    115       137     318.0
138        45    113       138     308.0
139        20    141       162     222.4
140        60    108       135     390.0
141        60     97       127       NaN
142        45    100       120     250.4
143        45    122       149     335.4
144        60    136       170     470.2
145        45    106       126     270.8
146        60    107       136     400.0
147        60    112       146     361.9
148        30    103       127     185.0
149        60    110       150     409.4
150        60    106       134     343.0
151        60    109       129     353.2
152        60    109       138     374.0
153        30    150       167     275.8
154        60    105       128     328.0
155        60    111       151     368.5
156        60     97       131     270.4
157        60    100       120     270.4
158        60    114       150     382.8
159        30     80       120     240.9
160        30     85       120     250.4
161        45     90       130     260.4
162        45     95       130     270.0
163        45    100       140     280.9
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

In [13]:
print(df)

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [14]:
print(pd.options.display.max_rows)

60

# data anlyzing

# head()
## display the first 5 if is passed with no arug 
##  -1 means left one last row data

In [23]:
df=pd.read_csv('data.csv')
print(df.head())

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0

In [24]:
print(df.head(15))

    Duration  Pulse  Maxpulse  Calories
0         60    110       130     409.1
1         60    117       145     479.0
2         60    103       135     340.0
3         45    109       175     282.4
4         45    117       148     406.0
5         60    102       127     300.0
6         60    110       136     374.0
7         45    104       134     253.3
8         30    109       133     195.1
9         60     98       124     269.0
10        60    103       147     329.3
11        60    100       120     250.7
12        60    106       128     345.3
13        60    104       132     379.3
14        60     98       123     275.0

In [25]:
print(df.head(-1))

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
163        45    100       140     280.9
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4

[168 rows x 4 columns]

In [27]:
print(df.tail())

     Duration  Pulse  Maxpulse  Calories
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

# info

In [28]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    int64
 1   Pulse     169 non-null    int64
 2   Maxpulse  169 non-null    int64
 3   Calories  164 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 5.4 KB
None

#     cleaning Data
### Empty, data in wrong format,duplicates.

# dropna() method returns a new df and not change the org

In [8]:
df1=pd.read_csv('data.csv')
new_df=df1.dropna()
print(new_df)

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[164 rows x 4 columns]

In [13]:
df1=pd.read_csv('data.csv')
new_df=df1.dropna(inplace =True)
print(new_df)

None

# replace empty value using fillna()

In [16]:
df1.fillna(1300000,inplace=True)
df1

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[164 rows x 4 columns]

In [6]:
 import pandas as pd
 data = pd.read_csv('diamonds.csv')

# # # Create Group
# grp = data.groupby('clarity')
#  print(grp.first())
# print()
# print(grp.get_group('VS2'))

# # # Differentiate Clarity in each cut
#  grp2 = data.groupby(['cut', 'clarity'])
#  print(grp2.describe())


 a = pd.DataFrame()
# # Creating Dictionary
 d = {'id': [1, 2, 10, 12],
 	'val1': ['a', 'b', 'c', 'd']}
a = pd.DataFrame(d)

# # Creating dataframe b
# b = pd.DataFrame()
# # Creating dictionary
# d = {'id': [1, 2, 9, 8],
# 	'val1': ['p', 'q', 'r', 's']}
# b = pd.DataFrame(d)

# # left outer join
# df = pd.merge(a, b, on='id', how='inner')
# print(df)
# df = pd.merge(a, b, on='id', how='right')
# print(df)
# df = pd.merge(a, b, on='id', how='left')
# print(df)
# df = pd.merge(a, b, on='id', how='outer')

# '''

# # Define a dictionary containing employee data 
# data1 = {'Name':['abc', 'pqr', 'lmn', 'xyz'], 
#         'Age':[27, 24, 22, 32], 
#         'Address':['Nagpur', 'Kanpur', 'Allahabad', 'Kannuaj'], 
#         'Qualification':['Msc', 'MA', 'MCA', 'Phd'],
#          'Mobile No': [97, 91, 58, 76]}  
   
# # Define a dictionary containing employee data 
# data2 = {'Name':['Gaurav', 'Ayushi', 'Abhi', 'Hitesh'], 
#         'Age':[17, 14, 22, 52], 
#         'Address':['Nagpur', 'Kanpur', 'Allahabad', 'Kannuaj'], 
#         'Qualification':['Btech', 'B.A', 'MCA', 'B.hons'],
#          'Salary':[1000, 2000, 3000, 4000]}  

# # Convert the dictionary into DataFrame  
# df = pd.DataFrame(data1,index=[0, 1, 2, 3])
 
# # Convert the dictionary into DataFrame  
# df1 = pd.DataFrame(data2, index=[2, 3, 6, 7])
# print(df, "\n\n", df1)  

# frame = [df, df1]
# result = pd.concat(frame)
# print(result)

# # Inner 
# result = pd.concat([df,df1], axis=1, join='inner')
# print(result)

                    carat                                                   \
                    count      mean       std   min     25%    50%     75%
cut       clarity
Fair      I1        210.0  1.361000  0.745148  0.34  0.8500  1.065  1.8175
          IF          9.0  0.474444  0.132393  0.30  0.3700  0.470  0.5200
          SI1       408.0  0.964632  0.383930  0.29  0.7000  0.980  1.0200
          SI2       466.0  1.203841  0.501377  0.25  0.9000  1.010  1.5000
          VS1       170.0  0.879824  0.409333  0.25  0.5975  0.770  1.0100
          VS2       261.0  0.885249  0.384593  0.22  0.6400  0.900  1.0100
          VVS1       17.0  0.664706  0.319279  0.30  0.3400  0.700  0.9100
          VVS2       69.0  0.691594  0.319400  0.23  0.4500  0.700  0.9100
Good      I1         96.0  1.203021  0.505207  0.32  0.9000  1.070  1.5100
          IF         71.0  0.616338  0.357780  0.24  0.3150  0.460  0.9000
          SI1      1560.0  0.830397  0.428446  0.28  0.5000  0.790  1.0100
          SI2      1081.0  1.035227  0.495711  0.30  0.7100  1.000  1.2000
          VS1       648.0  0.757685  0.403260  0.23  0.4100  0.700  1.0100
          VS2       978.0  0.850787  0.423081  0.23  0.5000  0.820  1.0100
          VVS1      186.0  0.502312  0.283287  0.23  0.3000  0.400  0.7000
          VVS2      286.0  0.614930  0.346358  0.23  0.3100  0.505  0.9000
Ideal     I1        146.0  1.222671  0.518559  0.30  1.0100  1.130  1.3475
          IF       1212.0  0.455041  0.267588  0.23  0.3100  0.340  0.4625
          SI1      4282.0  0.801808  0.442048  0.23  0.4200  0.710  1.0500
          SI2      2598.0  1.007925  0.509468  0.23  0.6200  1.000  1.2000
          VS1      3589.0  0.674714  0.396110  0.23  0.3600  0.530  0.9100
          VS2      5071.0  0.670566  0.409878  0.20  0.3400  0.530  0.9100
          VVS1     2047.0  0.495960  0.278888  0.23  0.3200  0.400  0.5500
          VVS2     2606.0  0.586213  0.338846  0.23  0.3300  0.440  0.7100
Premium   I1        205.0  1.287024  0.642982  0.31  1.0000  1.110  1.5000
          IF        230.0  0.603478  0.404873  0.25  0.3125  0.360  0.9750
          SI1      3575.0  0.908601  0.480535  0.21  0.5000  0.900  1.1500
          SI2      2949.0  1.144161  0.537168  0.20  0.7600  1.040  1.5000
          VS1      1989.0  0.793308  0.472739  0.23  0.3800  0.700  1.1200
          VS2      3357.0  0.833774  0.489778  0.20  0.3800  0.720  1.1300
          VVS1      616.0  0.534821  0.353695  0.23  0.3100  0.400  0.5900
          VVS2      870.0  0.654724  0.400146  0.23  0.3300  0.455  1.0100
Very Good I1         84.0  1.281905  0.600525  0.39  1.0000  1.145  1.5000
          IF        268.0  0.618769  0.350432  0.23  0.3200  0.495  1.0000
          SI1      3240.0  0.845978  0.432238  0.24  0.5000  0.770  1.0300
          SI2      2100.0  1.064338  0.493639  0.23  0.7200  1.010  1.2400
          VS1      1775.0  0.733307  0.412271  0.23  0.3800  0.700  1.0100
          VS2      2591.0  0.811181  0.436545  0.20  0.4600  0.710  1.0200
          VVS1      789.0  0.494588  0.306685  0.23  0.2900  0.360  0.6300
          VVS2     1235.0  0.566389  0.372132  0.23  0.2800  0.400  0.7300

                          depth             ...       y              z  \
                    max   count       mean  ...     75%    max   count
cut       clarity                           ...
Fair      I1       5.01   210.0  65.699048  ...  7.3850  10.54   210.0
          IF       0.71     9.0  60.066667  ...  5.1700   5.81     9.0
          SI1      2.32   408.0  63.910294  ...  6.4250   8.69   408.0
          SI2      3.01   466.0  64.421888  ...  7.0900   8.94   466.0
          VS1      2.06   170.0  62.945294  ...  6.2600   8.17   170.0
          VS2      2.29   261.0  63.637548  ...  6.2400   8.60   261.0
          VVS1     1.32    17.0  60.417647  ...  6.1000   7.28    17.0
          VVS2     1.52    69.0  62.847826  ...  6.1600   7.21    69.0
Good      I1       3.00    96.0  62.067708  ...  7.2925   9.31    96.0
          IF       1.53    71.0  61.440845  ...  6.1200   7.46    71.0
          SI1      2.40  1560.0  62.696346  ...  6.3900   8.81  1560.0
          SI2      3.01  1081.0  62.242831  ...  6.7500   9.38  1081.0
          VS1      2.27   648.0  62.018673  ...  6.3500   8.55   648.0
          VS2      2.50   978.0  62.363292  ...  6.4200   8.60   978.0
          VVS1     1.51   186.0  62.123118  ...  5.6775   7.53   186.0
          VVS2     2.03   286.0  62.311538  ...  6.1100   7.94   286.0
Ideal     I1       3.50   146.0  61.648630  ...  7.0475   9.59   146.0
          IF       2.08  1212.0  61.645710  ...  5.0100   8.25  1212.0
          SI1      2.56  4282.0  61.737482  ...  6.5500   8.76  4282.0
          SI2      3.01  2598.0  61.701001  ...  6.8200   9.20  2598.0
          VS1      2.59  3589.0  61.706436  ...  6.2400  31.80  3589.0
          VS2      2.50  5071.0  61.730901  ...  6.2250   8.81  5071.0
          VVS1     1.70  2047.0  61.679091  ...  5.2700   7.69  2047.0
          VVS2     2.07  2606.0  61.690714  ...  5.7700   8.17  2606.0
Premium   I1       4.01   205.0  61.183415  ...  7.2800  10.10   205.0
          IF       2.29   230.0  61.047826  ...  6.2625   8.49   230.0
          SI1      2.57  3575.0  61.303329  ...  6.7100   8.87  3575.0
          SI2      3.04  2949.0  61.178976  ...  7.2400  58.90  2949.0
          VS1      2.55  1989.0  61.318451  ...  6.6700   8.78  1989.0
          VS2      3.51  3357.0  61.283408  ...  6.6900   9.63  3357.0
          VVS1     2.31   616.0  61.260877  ...  5.3525   8.42   616.0
          VVS2     2.00   870.0  61.280230  ...  6.3800   7.97   870.0
Very Good I1       4.00    84.0  61.755952  ...  7.2575   9.94    84.0
          IF       1.54   268.0  61.363806  ...  6.3600   7.61   268.0
          SI1      2.51  3240.0  61.947222  ...  6.5300   8.65  3240.0
          SI2      3.04  2100.0  61.862952  ...  6.9100   9.07  2100.0
          VS1      2.39  1775.0  61.729127  ...  6.4100   8.77  1775.0
          VS2      2.44  2591.0  61.849247  ...  6.5050   8.93  2591.0
          VVS1     1.70   789.0  61.675919  ...  5.5100   7.84   789.0
          VVS2     2.03  1235.0  61.660972  ...  5.8350   8.14  1235.0


                       mean       std   min     25%    50%     75%    max
cut       clarity
Fair      I1       4.386905  0.756346  2.60  3.7700  4.220  4.8625   6.98
          IF       3.033333  0.318787  2.58  2.7700  3.050  3.3000   3.43
          SI1      3.895711  0.516342  2.48  3.6000  3.950  4.1200   5.26
          SI2      4.211867  0.585396  2.32  3.8600  4.090  4.6275   6.16
          VS1      3.709882  0.640182  0.00  3.3125  3.690  4.0575   5.26
          VS2      3.780230  0.546668  2.47  3.3400  3.830  4.0800   5.23
          VVS1     3.327647  0.583326  2.57  2.7400  3.440  3.7700   4.23
          VVS2     3.444058  0.568096  2.37  3.0400  3.400  3.8300   4.72
Good      I1       4.065625  0.724948  0.00  3.6850  4.085  4.5450   5.79
          IF       3.252958  0.606539  2.47  2.7300  3.010  3.8550   4.60
          SI1      3.635064  0.613222  2.53  3.0900  3.660  4.0200   5.30
          SI2      3.895245  0.652493  0.00  3.5500  3.910  4.1900   5.77
          VS1      3.499954  0.624275  2.31  2.9700  3.475  4.0000   5.19
          VS2      3.658231  0.611082  2.40  3.1900  3.720  4.0300   5.35
          VVS1     3.068602  0.536438  2.31  2.6900  2.905  3.4675   4.63
          VVS2     3.273497  0.595463  2.40  2.7225  3.210  3.7675   5.00
Ideal     I1       4.158493  0.587387  2.64  3.9700  4.110  4.3875   6.03
          IF       2.982211  0.458705  2.43  2.7000  2.780  3.1000   5.05
          SI1      3.570801  0.646703  1.07  2.9800  3.540  4.0400   5.45
          SI2      3.865889  0.661980  0.00  3.3825  3.950  4.2100   5.69
          VS1      3.366615  0.622414  1.41  2.8200  3.220  3.8600   5.43
          VS2      3.352102  0.638505  0.00  2.7700  3.200  3.8500   5.38
          VVS1     3.064304  0.483879  2.41  2.7100  2.910  3.2500   4.70
          VVS2     3.221550  0.566991  2.06  2.7400  3.020  3.5500   5.11
Premium   I1       4.130683  0.767522  0.00  3.8500  4.050  4.5200   6.24
          IF       3.191478  0.655716  2.50  2.6800  2.800  3.8550   5.20
          SI1      3.692162  0.677067  0.00  3.1150  3.790  4.1500   5.49
          SI2      4.001967  0.683823  0.00  3.6100  4.000  4.4300   8.06
          VS1      3.509703  0.705434  2.39  2.8600  3.460  4.1000   5.36
          VS2      3.565639  0.718023  0.00  2.8400  3.530  4.1200   6.03
          VVS1     3.080000  0.587519  0.00  2.6800  2.880  3.3100   5.25
          VVS2     3.295920  0.648264  2.35  2.7200  3.030  3.9400   5.03
Very Good I1       4.197381  0.620173  2.90  3.9200  4.090  4.5750   6.31
          IF       3.259813  0.603973  2.39  2.7275  3.090  3.9250   4.60
          SI1      3.643451  0.622204  2.44  3.1600  3.650  4.0200   5.46
          SI2      3.944495  0.621095  2.45  3.5700  3.950  4.2600   5.75
          VS1      3.467177  0.933840  2.36  2.8800  3.480  3.9700  31.80
          VS2      3.576144  0.651301  0.00  3.0450  3.560  4.0200   5.32
          VVS1     3.031420  0.562245  2.35  2.6100  2.830  3.4200   5.06
          VVS2     3.144348  0.644860  2.35  2.6000  2.940  3.5800   5.03

[40 rows x 56 columns]

In [7]:
# Read Text Files with Pandas using read_fwf()

# importing pandas
import pandas as pd

# read text file into pandas DataFrame
df = pd.read_fwf("chk.txt")

# display DataFrame
print(df)

Empty DataFrame
Columns: [hi, hiren]
Index: []

In [10]:
import pandas as pd
import numpy as np
technologies = {
    'Courses':["Spark","PySpark","Python","pandas","Python","Spark","pandas"],
    'Fee' :[20000,25000,22000,30000,22000,20000,30000],
    'Duration':['30days','40days','35days','50days','35days','30days','50days'],
    'Discount':[1000,2300,1200,2000,1200,1000,2000]
              }
df = pd.DataFrame(technologies)
print(df)

# keep first duplicate row
df2 = df.drop_duplicates()
 print(df2)

# # Using DataFrame.drop_duplicates() to keep first duplicate row
# df2 = df.drop_duplicates(keep='first')
# print(df2)

# # keep last duplicate row
# df2 = df.drop_duplicates( keep='last')
# print(df2)

# # Remove all duplicate rows 
# df2 = df.drop_duplicates(keep=False)
# print(df2)

# # Delete duplicate rows based on specific columns 
# df2 = df.drop_duplicates(subset=["Courses", "Fee"], keep=False)
# print(df2)

# # Drop duplicate rows in place
# df.drop_duplicates(inplace=True)
# print(df)

IndentationError: unexpected indent (2086582929.py, line 14)

In [ ]:
""